<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>

    <!-- Header principal -->
    <header class="header" th:fragment="main-header">
        <div class="container d-flex justify-content-between align-items-center">
            <a th:href="@{/home}" class="logo">Aurum</a>
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/conocenos}">Conócenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ofertas}">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon" href="#" id="dark-mode-toggle">
                            <i class="bi bi-moon"></i>
                        </a>
                    </li>
                    <li th:if="${session.user}" class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="/img/IconUser.png" alt="Profile" class="rounded-circle">
                            <span class="dropdown-toggle ps-2"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6 style="color: black;" th:text="${session.user.nombres} + ' ' + ${session.user.apellidos}"></h6>
                                <span>Usuario</span>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/ajustescuenta}">
                                    <i class="bi bi-person"></i>
                                    <span>Mi Perfil</span>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Cerrar Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- header simple -->
    <header class="header fixed-top" th:fragment="simple-header">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Aurum</h1>
      </a>

      <nav id="navmenu" class="navmenu header-nav">
        <ul>
          <li><a href="">Conocenos</a></li>
          <li><a href="">Ofertas</a></li>

          <li th:if="${session.user}" class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="/img/IconUser.png" alt="Profile" class="rounded-circle">
              <span class="dropdown-toggle ps-2"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6 style="color: black;" th:text="${session.user.nombres} + ' ' + ${session.user.apellidos}"></h6>
                <span>Usuario</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" th:href="@{/ajustescuenta}">
                  <i class="bi bi-person"></i>
                  <span>Mi Perfil</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Cerrar Sesión</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" th:unless="${session.user}" th:href="@{/login}">Iniciar sesión / Registrarse</a>

    </div>
  </header>

    <!--footer-->
    <footer class="footer-aurum" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 footer-info">
                    <h3>Aurum</h3>
                    <p>
                        Ca. Los Eucaliptos 225<br>
                        San Isidro, Lima 15076<br><br>
                        <strong>Telefono:</strong> +51 922 742 687<br>
                        <strong>Email:</strong> infoAurum@gmail.com<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="https://x.com/"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="ajustescuenta">Perfil</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Ofertas</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Conócenos</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Otros</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Eventos</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Libro de reclamaciones</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Acuerdos de seguridad y privacidad</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 footer-newsletter">
                    <h4>Otras noticias</h4>
                    <p>Suscríbete para recibir las últimas noticias sobre Aurum</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="SUSCRIBETE">
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
